@import url("https://fonts.googleapis.com/css?family=Open+Sans:300, 600");

@tailwind preflight;
@tailwind components;
@tailwind utilities;

textarea {
  resize: none;
}

.glow {
  position: relative;
}
.glow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation: breath 2.5s ease-in-out infinite alternate;
  box-shadow: 0 0 12px #4dc0b5;
}

@keyframes breath {
  0%,
  15% {
    opacity: 0;
  }
  85%,
  100% {
    opacity: 1;
  }
}
